@use '@catppuccin/palette/scss/mocha';
.App {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: mocha.$crust;
  width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}
.editor-container {
  border: 8px solid mocha.$mauve;
  border-radius: 8px;
}